<div class="col-md-offset-3 col-md-6" *ngIf="apartment">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>
                <button type="button" class="btn btn-xs btn-info" (click)="goBack()">< Back</button>
                &nbsp; View Details
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>ID:</label>
                {{ apartment.id }}
            </div>
            <div class="form-group">
                <label>Count Rooms:</label>
                {{ apartment.countRooms }}
            </div>
            <div class="form-group">
                <label>Count Bathrooms:</label>
                {{ apartment.countBathrooms }}
            </div>
            <div class="form-group">
                <label>Square:</label>
                {{ apartment.square }}
            </div>
            <div class="form-group">
                <label>Has Parking:</label>
                {{ apartment.hasParking }}
            </div>
            <div class="form-group">
                <label>Address:</label>
                {{apartment.unit}} {{apartment.street}}, {{apartment.building}} {{apartment.zipCode}}
                {{apartment.city}} {{apartment.region}} {{apartment.country}}
            </div>
            <div class="form-group">
                <label>Comment:</label>
                {{apartment.comment}}
            </div>
            <div class="form-group">
                <label>Owner Email:</label>
                {{apartment.ownerEmail}}
            </div>


        </div>
    </div>
</div>
